@font-face {
  font-family: Fonte;
  src:url(/frontend/html/fonte/Elegante\ Classica.ttf);
}

:root {
  --color_01: #52032b;
  --color_02: #7d2c51;
  --color_03: #a95478;
  --color_04: #d47d9e;
  --color_05: #ffa6c5;
  --color-text: #fff;
  --color-cta: #ff6347;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: var(--color_01);
}

header {
  background-color: var(--color_01);
  color: var(--color-text);
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  height: 50px;
}

.image {
  height: 35px;
  align-items: center;
  vertical-align: middle;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin-left: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

header nav ul li a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

.navmenu {
  display: flex;
}

.navmenu a {
  display: inline-block;
  margin: 0 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: all 0.6s;
}

.navmenu a:hover {
  transform: translateY(-5px);
}

.banner {
  background-image: url('banner.jpg');
  background-size: cover;
  background-position: center;
  color: var(--color-text);
  text-align: center;
  padding: 100px 20px;
}

.banner h1 {
  color: var(--color_01);
  font-size: 3em;
  margin: 0;
}

.banner p {
  color: var(--color_02);
  font-size: 1.5em;
}

.banner .cta-button {
  background-color: var(--color-cta);
  color: var(--color-text);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  display: inline-block;
  margin-top: 20px;
}

main {
  padding: 20px;
}

.servicos, .produtos {
  padding: 50px 20px;
  text-align: center;
}

.servicos h2, .produtos h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: var(--color_02);
}

.servico, .produto {
  display: inline-block;
  width: 30%;
  margin: 0 1.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: var(--color-text);
  color: var(--color_01);
  text-align: left;
  padding: 20px;
}

.servico img, .produto img {
  max-width: 100%;
  border-radius: 10px;
}

.servico h3, .produto h3 {
  margin-top: 15px;
  font-size: 1.5em;
  color: var(--color_03);
}

.servico p, .produto p {
  font-size: 1em;
}

aside {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

aside h2 {
  color:var(--color_02);
}

footer {
  background-color: var(--color_01);
  color: var(--color-text);
  text-align: center;
  padding: 20px;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer nav ul li {
  margin-left: 20px;
}

footer nav ul li a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

