.banner {    
    height: 100%;   
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.banner article {
    color: var(--color-text);
    text-align: center;
    padding: 250px 20px;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.banner article h1 {
    color: var(--color_01);
    font-size: 4em;
    line-height: 6rem;
    margin: 0;
}

.banner article p {
    color: var(--color_02);
    font-size: 1.5em;
}

.banner article .cta-button {
    background-color: var(--color_01);
    color: var(--color_06);
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 20px;
}