.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.articles-container .servico {
    flex: 1 1 calc(30% - 20px);
    box-shadow: 0 0 8px var(--color_05);
    border-radius: 10px;
    background-color: var(--color_06);
    color: var(--color_01);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.articles-container .servico:hover {
    transform: translateY(-5px);
}

.articles-container .servico img {
    max-width: 100%;
    border-radius: 10px;
}

.articles-container .servico h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;

}

.articles-container .servico p {
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: justify;
    margin-bottom: 20px;
}

